<div class="d-flex justify-content-center">
    <h1>Editing Micropost</h1>
</div>
<div class="d-flex justify-content-center">
    <%= render 'form', micropost: @micropost %>
</div>
<div class="d-flex justify-content-center">
    <%= link_to 'Show', @micropost %> |
</div>
<div class="d-flex justify-content-center">
    <%= link_to 'Back', microposts_path %>
</div>