<div class="d-flex justify-content-center ">
    <h1>New Micropost</h1>
</div>
<div class="d-flex justify-content-center py-5">
    <%= render 'form', micropost: @micropost %>
</div>
<div class="d-flex justify-content-center">
    <%= link_to 'Back', microposts_path %>
</div>