<footer class="mt-5" style="border-top: 2px solid;background-color: #e8b912;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9 navbar">
                <a href="">Ruby on Rails Tutorial</a>
            </div>
            <ul class="nav justify-content-end navbar">
                <li class="px-3"><a href="#">About</a></li>
                <li class="px-3"><a href="">Contact</a></li>
                <li class="px-3"><a href="">News</a></li>
            </ul>
        </div>
    </div>
</footer>